In [1]:
import mysql.connector

In [99]:
mydb1 = mysql.connector.connect(
host = "byjswena0s99ise1usfy-mysql.services.clever-cloud.com",
user = "upqvs3wbh9koczin",
password = "2T8F4SsnxHhfjphLh22W",
database = "byjswena0s99ise1usfy"
)

In [100]:
mycursor1 = mydb1.cursor()

In [4]:
mycursor1.execute("SHOW TABLES")
for table in mycursor1:
    print(table)

('creditcards',)
('paymentlog',)

In [5]:
mycursor1.execute("describe creditcards")
for table in mycursor1:
    print(table)

('cardno', b'varchar(16)', 'NO', 'PRI', None, '')
('pin', b'int', 'YES', '', None, '')
('custnm', b'varchar(100)', 'YES', '', None, '')
('mappedaccno', b'int', 'YES', '', None, '')
('bankcode', b'varchar(10)', 'YES', '', None, '')
('limit_bal', b'float', 'YES', '', None, '')

In [6]:
mycursor1.execute("describe paymentlog")
for table in mycursor1:
    print(table)

('transno', b'int', 'NO', 'PRI', None, 'auto_increment')
('cardno', b'varchar(16)', 'YES', '', None, '')
('transdt', b'datetime', 'YES', '', None, '')
('purpose', b'varchar(50)', 'YES', '', None, '')
('paymentamount', b'float', 'YES', '', None, '')
('transstatus', b'varchar(10)', 'YES', '', b'success', '')

In [88]:
#for database2
mydb2 = mysql.connector.connect(
host = "byz19nyssb8zeazrb181-mysql.services.clever-cloud.com",
user = "uf1dkuns8obh9mjm",
password = "AuIS6JIebDMnPCRsSoGx",
database = "byz19nyssb8zeazrb181"
)

In [89]:
mycursor2 = mydb2.cursor()

In [17]:
mycursor2.execute("SHOW TABLES")
for table in mycursor2:
    print(table)

('cardtranslog',)
('citibank',)
('scbank',)

In [18]:
mycursor2.execute("describe cardtranslog")
for table in mycursor2:
    print(table)

('transno', b'int(11)', 'NO', 'PRI', None, 'auto_increment')
('transdt', b'datetime', 'YES', '', None, '')
('accno', b'int(11)', 'YES', '', None, '')
('amount', b'float', 'YES', '', None, '')

In [19]:
mycursor2.execute("describe citibank")
for table in mycursor2:
    print(table)

('accno', b'int(11)', 'NO', 'PRI', None, '')
('accnm', b'varchar(100)', 'YES', '', None, '')
('acctype', b'varchar(15)', 'YES', '', b'saving', '')
('balance', b'float', 'YES', '', None, '')
('mobile', b'varchar(15)', 'YES', '', None, '')

In [20]:
mycursor2.execute("describe scbank")
for table in mycursor2:
    print(table)

('accno', b'int(11)', 'NO', 'PRI', None, '')
('accnm', b'varchar(100)', 'YES', '', None, '')
('acctype', b'varchar(15)', 'YES', '', b'saving', '')
('balance', b'float', 'YES', '', None, '')
('mobile', b'varchar(15)', 'YES', '', None, '')

In [71]:
#inserting new user into citibank 
sql = "INSERT INTO citibank (accno,accnm,acctype,balance,mobile) VALUES (%s,%s,%s,%s,%s)"

In [72]:

val = [(1011,"steven","saving",1500,1023456789)]

In [73]:
mycursor2.executemany(sql,val)

In [74]:
mydb2.commit()

In [75]:
#checking whether user is created or not
mycursor2.execute("select * from citibank")
for row in mycursor2:
    print(row)

(1011, 'steven', 'saving', 1500.0, '1023456789')

In [81]:
#inserting new credit card into creditcards of database1
sql = "INSERT INTO creditcards (cardno,pin,custnm,mappedaccno,bankcode,limit_bal) VALUES (%s,%s,%s,%s,%s,%s)"

In [82]:

val = [(589938612,6434,"steven",1011,"CITI11",20000)]

In [83]:
mycursor1.executemany(sql,val)

In [85]:
mydb1.commit()

In [84]:
#checking whether card is created or not
mycursor1.execute("select * from creditcards")
for row in mycursor1:
    print(row)

('589938612', 6434, 'steven', 1011, 'CITI11', 20000.0)

In [90]:
#inserting new user into citibank 
sql = "INSERT INTO scbank (accno,accnm,acctype,balance,mobile) VALUES (%s,%s,%s,%s,%s)"

In [91]:

val = [(1045,"steven","saving",1500,1023456789)]

In [93]:
mycursor2.executemany(sql,val)

In [95]:
mydb2.commit()

In [96]:
#checking wheather user is created or not
mycursor2.execute("select * from scbank")
for row in mycursor2:
    print(row)

(1045, 'steven', 'saving', 1500.0, '1023456789')

In [101]:
#inserting new credit card into scbank of database1
sql = "INSERT INTO creditcards (cardno,pin,custnm,mappedaccno,bankcode,limit_bal) VALUES (%s,%s,%s,%s,%s,%s)"

In [102]:

val = [(589938613,6634,"steven",1045,"SCBANK11",20000)]

In [103]:
mycursor1.executemany(sql,val)

In [105]:
mydb1.commit()

In [106]:
#checking whether card is created or not
mycursor1.execute("select * from creditcards")
for row in mycursor1:
    print(row)

('589938612', 6434, 'steven', 1011, 'CITI11', 20000.0)
('589938613', 6634, 'steven', 1045, 'SCBANK11', 20000.0)

In [107]:
def mydbconnection2():
    mydb2 = mysql.connector.connect(
    host = "byz19nyssb8zeazrb181-mysql.services.clever-cloud.com",
    user = "uf1dkuns8obh9mjm",
    password = "AuIS6JIebDMnPCRsSoGx",
    database = "byz19nyssb8zeazrb181"
    )
    return mydb2

In [108]:
def mydbconnection1():
    mydb1 = mysql.connector.connect(
    host = "byjswena0s99ise1usfy-mysql.services.clever-cloud.com",
    user = "upqvs3wbh9koczin",
    password = "2T8F4SsnxHhfjphLh22W",
    database = "byjswena0s99ise1usfy"
    )
    return mydb1

In [ ]:
print("enter the creditcardno. number")
credit_no = int(input())

In [ ]:
mycursor1.execute("select cardno,mappedaccno from creditcards ")
flag = 0
accno = 0
for row in mycursor1:
    if int(row[0]) == credit_no:
        print("{} is exists".format(credit_no))
        accno = row[1]
        print("account number is {}".format(accno))
        flag = 1
if flag == 0:
    print("{} is does not exists".format(credit_no))

In [ ]:
def deposite(credit_no,bankname,account_no):
    print("enter amount :")
    amount = int(input())
    sql = "UPDATE {} SET balance = %s+balance WHERE accno = %s".format(bankname)
    val = (amount,account_no)
    temp_cursor.execute(sql, val)
    now = datetime.now()
    formatted_date = now.strftime('%Y-%m-%d %H:%M:%S')
    print(formatted_date)
    temp_cursor.execute("insert into cardtranslog(transdt,accno,amount) values(%s,%s,%s)",(formatted_date,account_no,amount))
    temp_mydb2.commit()
    print("Deposited successfully")
    tempdb1 = mydbconnection1()
    temp_cursor1 = tempdb1.cursor()
    temp_cursor1.execute("insert into paymentlog(cardno,transdt,purpose,paymentamount) values(%s,%s,%s,%s)",(credit_no,formatted_date,"transfer",amount))
    tempdb1.commit()

In [ ]:
if flag ==1:
    print("enter the pin")
    pin = int(input())
    mycursor1.execute("select pin from creditcards where cardno = {}".format(credit_no))
    for row in mycursor1:
        if row[0] ==pin :
            
            temp_mydb2 = mydbconnection2()
            temp_cursor = temp_mydb2.cursor()
            found=0
            temp_cursor.execute("select accno from citibank")
            for tup in temp_cursor:
                if tup[0] == accno:
                    found = 1
                    deposite(credit_no,"citibank",accno)
            if found == 0:
                temp_cursor.execute("select accno from scbank")
                for tup in temp_cursor:
                    if tup[0] == accno:
                        found = 1
                        deposite(credit_no,"scbank",accno)
            if found==0 :
                print("coundn't found account number")