In [1]:
import mysql.connector
from datetime import datetime

In [282]:
#for database2
def mydbconnection2():
    mydb2 = mysql.connector.connect(
    host = "byz19nyssb8zeazrb181-mysql.services.clever-cloud.com",
    user = "uf1dkuns8obh9mjm",
    password = "AuIS6JIebDMnPCRsSoGx",
    database = "byz19nyssb8zeazrb181"
    )
    return mydb2

In [279]:
mycursor2 = mydb2.cursor()

In [195]:
mycursor2.execute("SHOW TABLES")
for table in mycursor2:
    print(table)

('cardtranslog',)
('citibank',)
('scbank',)

### Depositing money from scbank

In [169]:
#dipositing money in scbank
print("enter the account number")
account_no = int(input())

enter the account number
1045

In [196]:
mycursor2.execute("select accno from scbank  ")

In [197]:
flag = 0
for row in mycursor2:
    for i in row:
        if i == account_no:
            print("{} is exists".format(account_no))
            flag = 1
if flag == 0:
    print("{} is does not exists".format(account_no))

1045 is exists

In [2]:
flag=1
if flag==1:
    print("enter amount :")
    amount = int(input())
    sql = "UPDATE scbank SET balance = %s+balance WHERE accno = %s"
    val = (amount,account_no)
    mycursor2.execute(sql, val)
    now = datetime.now()
    formatted_date = now.strftime('%Y-%m-%d %H:%M:%S')
    print(formatted_date)
    mycursor2.execute("insert into cardtranslog(transdt,accno,amount) values(%s,%s,%s)",(formatted_date,account_no,amount))
    mydb2.commit()
    print("Deposited successfully")
flag = 0

enter amount :
1000
2023-07-07 00:25:07
Deposited successfully

In [207]:
mycursor2.execute("select * from scbank WHERE accno = {}".format(account_no))
for row in mycursor2:
    print(row)

(1045, 'steven', 'saving', 84500.0, '1023456789')

In [212]:
mycursor2.execute("select * from cardtranslog WHERE accno = {}".format(account_no))
for row in mycursor2:
    print(row)

(3, datetime.datetime(2022, 8, 7, 13, 4, 3), 1045, 1000.0)
(4, datetime.datetime(2022, 8, 7, 13, 4, 3), 1045, -10000.0)

### Withdrawing money from scbank

In [208]:
print("enter the account number")
account_no = int(input())

enter the account number
1045

In [209]:
mycursor2.execute("select accno from scbank  ")

In [210]:
flag = 0
for row in mycursor2:
    for i in row:
        if i == account_no:
            print("{} is exists".format(account_no))
            flag = 1
if flag == 0:
    print("{} is does not exists".format(account_no))

1045 is exists

In [211]:
if flag==1:
    print("enter amount :")
    amount = int(input())
    mycursor2.execute("select balance from scbank WHERE accno = {}".format(account_no))
    for row in mycursor2:
        for bal in row :
            if bal-amount > 100:
                sql = "UPDATE scbank SET balance = balance- %s WHERE accno = %s"
                val = (amount,account_no)
                mycursor2.execute(sql, val)
                print("Balance Left : {}".format(bal-amount))
                formatted_date = now.strftime('%Y-%m-%d %H:%M:%S')
                print(formatted_date)
                mycursor2.execute("insert into cardtranslog(transdt,accno,amount) values(%s,%s,%s)",(formatted_date,account_no,-amount))
                mydb2.commit()
                print("withdrwned successfully")
            else :
                print("insufficient amount ")
flag = 0

enter amount :
10000
Balance Left : 74500.0
2022-08-07 13:04:03
withdrwned successfully

### Depositing money in scbank using card

In [285]:
print("enter the creditcardno. number")
credit_no = int(input())

enter the creditcardno. number
589938612

In [286]:
def mydbconnection1():
    mydb1 = mysql.connector.connect(
    host = "byjswena0s99ise1usfy-mysql.services.clever-cloud.com",
    user = "upqvs3wbh9koczin",
    password = "2T8F4SsnxHhfjphLh22W",
    database = "byjswena0s99ise1usfy"
    )
    return mydb1

In [295]:
mydb1 =mydbconnection1()
mycursor1 = mydb1.cursor()

In [296]:
mycursor1.execute("SHOW TABLES")
for table in mycursor1:
    print(table)

('creditcards',)
('paymentlog',)

In [297]:
mycursor1.execute("select cardno,mappedaccno from creditcards ")

In [298]:
flag = 0
accno = 0
for row in mycursor1:
    if int(row[0]) == credit_no:
        print("{} is exists".format(credit_no))
        accno = row[1]
        print("account number is {}".format(accno))
        flag = 1
if flag == 0:
    print("{} is does not exists".format(credit_no))

589938612 is exists
account number is 1011

In [299]:
def deposite(credit_no,bankname,account_no):
    print("enter amount :")
    amount = int(input())
    sql = "UPDATE {} SET balance = %s+balance WHERE accno = %s".format(bankname)
    val = (amount,account_no)
    temp_cursor.execute(sql, val)
    now = datetime.now()
    formatted_date = now.strftime('%Y-%m-%d %H:%M:%S')
    print(formatted_date)
    temp_cursor.execute("insert into cardtranslog(transdt,accno,amount) values(%s,%s,%s)",(formatted_date,account_no,amount))
    temp_mydb2.commit()
    print("Diposited successfully")
    tempdb1 = mydbconnection1()
    temp_cursor1 = tempdb1.cursor()
    temp_cursor1.execute("insert into paymentlog(cardno,transdt,purpose,paymentamount) values(%s,%s,%s,%s)",(credit_no,formatted_date,"transfer",amount))
    tempdb1.commit()

In [300]:
if flag ==1:
    print("enter the pin")
    pin = int(input())
    mycursor1.execute("select pin from creditcards where cardno = {}".format(credit_no))
    for row in mycursor1:
        if row[0] ==pin :
            
            temp_mydb2 = mydbconnection2()
            temp_cursor = temp_mydb2.cursor()
            found=0
            temp_cursor.execute("select accno from citibank")
            for tup in temp_cursor:
                if tup[0] == accno:
                    found = 1
                    deposite(credit_no,"citibank",accno)
            if found == 0:
                temp_cursor.execute("select accno from scbank")
                for tup in temp_cursor:
                    if tup[0] == accno:
                        found = 1
                        deposite(credit_no,"scbank",accno)
            if found==0 :
                print("coundn't found account number")

enter the pin
6434
enter amount :
1000
2022-08-07 15:38:04
Diposited successfully

In [306]:
def show_rows_of_citibank():
    temp_mydb2 = mydbconnection2()
    temp_cursor = temp_mydb2.cursor()
    temp_cursor.execute("select * from citibank ")
    for row in temp_cursor:
        print(row)

In [307]:
show_rows_of_citibank()

(1011, 'steven', 'saving', 3500.0, '1023456789')

In [ ]:
# class database_handler():
#     def __init__(self):
#         mydb1 = None
#         mydb2 = None
#     def connection_database1(self):
#         mydb1 = mydb1 = mysql.connector.connect(
#                 host = "byjswena0s99ise1usfy-mysql.services.clever-cloud.com",
#                 user = "upqvs3wbh9koczin",
#                 password = "2T8F4SsnxHhfjphLh22W",
#                 database = "byjswena0s99ise1usfy"
#                 )
#         return mydb1
#     def connection_database2():
#         mydb2 = mysql.connector.connect(
#                 host = "byz19nyssb8zeazrb181-mysql.services.clever-cloud.com",
#                 user = "uf1dkuns8obh9mjm",
#                 password = "AuIS6JIebDMnPCRsSoGx",
#                 database = "byz19nyssb8zeazrb181"
#                 )
#         return mydb1